/* Designed by Million_Air */
/* https://twitch.tv/million_air */

/* 컬러, 로고 설정 부분 */
:root {
	--bgColor: #FDF385;	 /* 배경 색 */
	--mainColor: #EBCD22;	 /* 메인 컬러 */
	--mainColor2: #ffffff; /* 트게더 메뉴, 게시글 hover */
	--mainColor3: #FAE460; /* 공지, 인기글 */
	--mainColor5: #FDF385; /* 공지, 인기글 hover */
	--logoURL: url(./logo/logo1.png); /* 로고 이미지 주소 */
	--logoWidth: 160px;	 /* 로고 너비 */
	--toTopURL: url(./logo/toTop.png); /* 위로 이미지 주소*/
	--toTopHeight: 100px; /* 위로 이미지 높이 */
	--toTopWidth: 113px; /* 위로 이미지 너비 */
	--before: "쮜직이와 ";		 /* 접속자 수 앞 */
	--after: " 선생님들";		 /* 접속자 수 뒤 */
}

@font-face {
    font-family: 'zzuizicfont';
    src: url('https://zzuizic.github.io/Cafe24Ssurround.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'zzuizicfont2';
    src: url('https://zzuizic.github.io/Cafe24Ohsquareair.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'zzuizicfont3';
    src: url('https://zzuizic.github.io/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* 모든 항목 focus시 아웃라인 제거 */
*:focus { outline: none !important; }

html{
	/*background: url(./logo/bottombg2.png) no-repeat, linear-gradient(var(--bgColor),var(--bgColor));*/
	background: linear-gradient(var(--bgColor),var(--bgColor));
	background-position: left bottom;
	background-attachment: fixed;
}

body {
	background: transparent;
	font-family: 'zzuizicfont', sans-serif;
}

a,
a:hover,
a:focus {
	color: var(--mainColor);
	text-decoration: none;
}


/*************** header ***************/
header {
	padding: 0.5em 0 0.5em 0;
}

/* 트게더 로고 */
header .row>div:nth-child(1)>a {
	display: block;
	width: var(--logoWidth);
	height: 50px;
	background: var(--logoURL) no-repeat;
	background-size: auto 50px;
	/*margin-bottom: -8px;*/
}

header .row>div:nth-child(1) > a > img {
	/*filter: hue-rotate(2deg) saturate(1.9) brightness(1.8) contrast(0.3);*/
	display: none;
}

/* 검색 창 */
header #right-search-form>input[type='text'] {
	border: 2px solid var(--mainColor);
	transition: 0.2s;
}

header #right-search-form>input[type='text']:hover,
header #right-search-form>input[type='text']:focus {
	transform: scale(1.05);
	transition: 0.2s;
}

/* 검색 버튼 */
header #right-search-form>#right-search-btn {
	color: var(--mainColor);
	transition: 0.2s;
}

header #right-search-form>#right-search-btn:hover,
header #right-search-form>#right-search-btn:focus {
	transform: scale(1.25);
	transition: 0.2s;
}

/* 상단바 */
header #header-bar {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

header #header-bar>.row {
	border: 2px solid var(--mainColor);
	border-radius: 12px;
}

/* 전광판 */ header #header-bar #header-top-notice strong.notice-badge,
/* 트게더 알림 */ header #header-bar #header-menu-right #userDropdown #notification-badge {
	background: var(--mainColor);
}


/*************** main ***************/

/* 트게더 메뉴 */
#main .menu-wrapper {
	background: white;
	border: 2px solid var(--mainColor);
	border-radius: 12px;
	width: 180px;
}

/* 메뉴 밑 흰색 제거 */
div#main-menu div:nth-last-child(1) {
	display: none;
}

#main .menu-wrapper > a {
	padding: 0.35em 0.5em 0.35em 0.5em;
	letter-spacing: -0.05em;
}

#main .menu-wrapper a:nth-last-child(1) {
    border-radius: 0px 0px 12px 12px;
}

#main .menu-wrapper > a:hover {
	background-color: white;
	font-weight:700;
}
#main .menu-wrapper .spacer {
	background: var(--mainColor);
	height: 2px;
}

#main .menu-wrapper>.header {
	background: var(--mainColor);
	border-radius: 9px 9px 0 0;
}

#main .menu-wrapper>a>em,
#main .menu-wrapper>a>i.fa.fa-square {
	color: var(--mainColor);
}

/* 게시글 프레임 */
#main #main-content>div.frame {
	background: transparent;
	border: none;
}


/*************** board ***************/
#board-info {
	margin: 0;
	height: auto;
	background: white;
	border: 2px solid var(--mainColor);
	border-radius: 12px;
	margin-bottom: 0.5em;
}

#board-info h1 {
	margin-top: 12px;
	font-size: 28px;
	border-bottom: 2px solid var(--mainColor);
	width: calc(100% - 100px);
}

#board-info h1>a {
	transition: 0.2s;
}

#board-info h1>a:hover,
#board-info h1>a:focus {
	color: var(--mainColor);
	transition: 0.2s;
}

#board-info #board-info-bottom a {
	color: var(--mainColor);
	font-size: 14px;
}

#board-info > #board-info-bottom {
	margin-top: 10px;
}

#board-info>img,
#board-info>h1,
#board-info>#board-info-bottom {
	float: left!important;
}

#board-info>img#board-info-profile-img {
	width: 80px;
	margin-right: 15px;
	border-radius: 10px;
	/*animation: waterdrop 3s ease-in-out infinite both alternate;*/
	border: 2px solid var(--mainColor);
	transition: 0.2s;
}

#board-info>img#board-info-profile-img:hover {
	border-radius: 8px;
	transform: scale(1.1);
}

#board-info #viewers-area #viewers:before {
	content: var(--before);
	cursor: text;
}

#board-info #viewers-area #viewers:after {
	content: var(--after);
	cursor: text;
}


/*************** article ***************/
.frame>.frame,
#article-list {
	background: white;
	border: 2px solid var(--mainColor);
	border-radius: 12px;
}

/* 공지 숨기기 버튼 */
#article-list #article-option-area {
	right: 2px;
	top: 2px;
}

#article-list #article-option-area> #article-option-area-toggle-btn {
	background: #eaeaea;
	width: 34px;
	height: 34px;
	border-radius: 8px;
	border: 2px solid;
	transition: 0.2s ease 0s;
	line-height: inherit;
}

/* 카테고리 */
#article-list #article-list-category {
	background: transparent;
	border: none;
	margin-top: 2px;
	margin-bottom: 2px;
}

#article-list #article-list-category>a {
	background: transparent;
	position: relative;
}

#article-list #article-list-category > a[href="/zzuizic"] {
	color: var(--mainColor);
}

#article-list #article-list-category>a::before {
	top: 0;
	left: 0;
	transform: translateX(-50%) scaleX(0);
}

#article-list #article-list-category>a::after {
	bottom: 0;
	right: 0;
	transform: translateX(50%) scaleX(0);
}

#article-list #article-list-category>a::before,
#article-list #article-list-category>a::after {
	height: 2px;
	width: 100%;
	background: currentColor;
	content: "";
	position: absolute;
	transition: cubic-bezier(0.25, 0, 1, 0) 0.28s;
}

#article-list #article-list-category>a.active:before,
#article-list #article-list-category>a.active::after,
#article-list #article-list-category>a:hover::before,
#article-list #article-list-category>a:hover::after {
	transform: translateX(0) scaleX(1);
}

#article-list #article-list-category>a.active:hover::before {
	transform: translateX(-50%) scaleX(0);	
}

#article-list #article-list-category>a.active:hover::after {
	transform: translateX(50%) scaleX(0);
}

/* 게시글 */
#article-list>.article-list-row {
	border: none;
	transition: 0.2s !important;
}

#article-list>.article-list-row:hover,
#article-list>.article-list-row:focus {
	background-color: var(--mainColor2);
	transform: scale(1.01);
}

#article-list>.article-list-row.hot,
#article-list>.article-list-row.notice {
	background-color: var(--mainColor3);
}

#article-list>.article-list-row.hot:hover,
#article-list>.article-list-row.hot:focus,
#article-list>.article-list-row.notice:hover,
#article-list>.article-list-row.notice:focus {
	background-color: var(--mainColor5);
	font-weight:700;
}

#article-list>.article-list-row>.item>.list-header {
	border-left: none;
}

/* 게시글 추천 수 */
#article-list>.article-list-row>.item>.list-header>span {
	background: var(--mainColor);
}

/* 게시글 추천 수 0 */
#article-list>.article-list-row>.item>.list-header.v0>span,
#article-list>.article-list-row>.item>.list-header.v0>span:hover {
	color: transparent !important;
	background-color: transparent !important;
}

/* 게시글 댓글 수 */
#article-list>.article-list-row>.item>.list-title>small.comment-count {
	color: var(--mainColor);
}

/* 로그인한 게시글 작성자 */
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
	color: var(--mainColor);
}

/* 게시글 본문 */
#article-info {
	background: white;
	border: 2px solid var(--mainColor);
	border-bottom: 1px;
	border-radius: 12px 12px 0 0;
	margin-top: 0.5em;
}

#article-info>h2 {
	margin-top: 5px;
	margin-left: 5px;
}

#article-info #article-info-writer,
#article-content-wrapper>.header>#article-time {
	margin-left: 8px;
}

#article-content-wrapper>.header>#article-views {
	margin-right: 8px;
}

#article-content-wrapper {
	padding: 0;
	background: white;
	border: 2px solid var(--mainColor);
	border-bottom: 1px;
}

#article-content-wrapper>.header {
	border-top: none;
	border-bottom: 2px solid var(--mainColor);
	background: transparent;
}

#article-content-wrapper #article-content {
	margin: 0.5em;
	border: none;
}

#article-content-wrapper>.footer {
	border-top: 2px solid var(--mainColor);
	border-bottom: 2px solid var(--mainColor);
	background: white;
	margin-bottom: 1em;
}

#article-neighbor-list {
	border: 2px solid var(--mainColor);
	border-radius: 12px;
	background: white;
	margin-bottom: calc(1em + 20px);
}

#article-neighbor-list>div:hover,
#article-neighbor-list>div:focus {
	background: linear-gradient(to right, white, var(--mainColor2), var(--mainColor2), white);
}

#article-neighbor-list>div>span.indicator,
#article-neighbor-list>div>a,
#article-neighbor-list>div>span.author {
	color: var(--mainColor);
}
/* 게시글 끝 */

/* 댓글 */
#article-reply-area {
	padding: 0;
	background: white;
	border: 2px solid var(--mainColor);
	border-radius: 0 0 12px 12px;
	margin-top: 1em;
	margin-bottom: 1em;
}

#article-reply-area > .header h5 {
	color: var(--mainColor);
}

#article-reply-area #reply-real-area .reply.active,
#article-reply-area #reply-best-area .reply.active {
	background-color: var(--mainColor2);
}

#article-reply-area #reply-real-area .reply > .reply-header,
#article-reply-area #reply-best-area .reply > .reply-header {
	padding: 0.3em 0.5em;
	background: #fcfcfc;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged {
	color: var(--mainColor);
}

.fr-popup,
.fr-toolbar.fr-top {
	border-top: 2px solid var(--mainColor);
}

.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn {
	color: var(--mainColor);
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown::after,
.fr-popup .fr-command.fr-btn.fr-dropdown::after {
	border-top: 4px solid var(--mainColor);
}
/* 댓글 끝 */


/* 드롭다운 */
.dropdown.open .dropdown-menu,
.input-group-btn.open .dropdown-menu {
	opacity: unset;
	transform: unset;
	border: 2px solid var(--mainColor);
	border-radius: 10px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.275);
}

.dropdown .dropdown-menu,
.input-group-btn .dropdown-menu {
	display: block !important;
	padding: 8px 0 3px 0px;
	opacity: 0;
	transform: scale(0);
	transform-origin: top;
	transition: all 0.5s cubic-bezier(0.15, 1.5, 0.1, 1);
}

.dropdown-menu>li>a {
	transition: 0.1s;
}

.dropdown-menu>li>a:hover {
	background: transparent;
	transform: scaleX(1.04);
	transition: 0.1s;
}

#latestDropdownMenu>li>a>span.delrow,
#favoriteDropdownMenu>li>a>span.delrow {
	color: var(--mainColor);
}

#latestDropdownMenu>li>a>span.delrow:hover,
#favoriteDropdownMenu>li>a>span.delrow:hover {
	background: transparent;
}

#favoriteDropdownMenu>li>a>span.label.label-default {
	background-color: var(--mainColor);
}

.dropdown-menu .divider {
	background-color: var(--mainColor);
	height: 2px;
	margin: 3px 0;
}
/* 드롭다운 끝 */


.fa-user:before {
	content: "\f004";	
}

.fa-user {
	animation: heartbeat 1s infinite;
	color: #f5cfcf;
}

small.favo i.fa.fa-heart {
	animation: heartbeat 1s infinite;
}

span.a-badge i.fa.fa-star {
	animation: shiningstar 2s infinite;
	animation-timing-function: linear;
}

/* 스크롤 */
/*
#movetotop img {
	display:none;
}
#movetotop {
	opacity:1;
	background: var(--toTopURL);
	width: var(--toTopWidth);
	height: var(--toTopHeight);
	border-radius: 0;
	background-size: contain;
}
*/
/*************** animation **************/
@keyframes heartbeat {
	0% { transform: scale(1); }
	30% { transform: scale(1.25); }
	42% { transform: scale(0.9); }
	60% { transform: scale(1.15); }
	85% { transform: scale(0.95); }
	100% { transform: scale(1); }
}

@keyframes shiningstar {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* 안씀 */
@keyframes waterdrop {
	0% {border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%; }
	100% {border-radius: 40% 60%; transform: rotate(1turn); }
} 

/* 안씀 */
@keyframes pulse {
	0% { box-shadow: 0 0 0 0 rgba(255,141,141, 0.4); }
	70% { box-shadow: 0 0 0 10px rgba(255,141,141, 0); }
	100% { box-shadow: 0 0 0 0 rgba(255,141,141, 0); }
}


/* 버튼, 하단 검색 */
.btn.square {
	margin-right: -2px;
}

.btn,
.input-group .form-control {
	box-shadow: inset 0 0 0 0 var(--btcolor) !important;
	border-color: var(--btcolor) !important;
	border-radius: 8px !important;
	color: var(--btcolor) !important;
	height: 30px !important;
	background: transparent !important;
	transition: 0.2s !important;
}

.btn:hover,
.btn:focus,
.input-group .form-control:hover,
.input-group .form-control:focus {
	box-shadow: inset 8em 0em 0 0 var(--btcolor) !important;
	background: var(--btcolor) !important;
	color: white !important;
}

.btn-outline-success {
	--btcolor: #5cb85c;
	
	height: 34px !important;
}

.btn-outline-primary {
	--btcolor: #0275d8;
	
	height: 34px !important;
}

.btn-default.best {
	--btcolor: #efc839;
}

.btn-outline-danger {
	--btcolor: #ff6e6e;
}

.btn-info {
  --btcolor: #5bc0de;
  --transform: 0 0 0 0 #5bc0de, inset 25em 0em 0 0 #5bc0de;
  --btbackground: #5bc0de;
}

.btn-primary,
.btn-default,
.input-group .form-control {
	--btcolor: var(--mainColor);
}

.input-group .form-control {
	transition: 0.4s !important;
}

.input-group .form-control:hover,
.input-group .form-control:focus {
	box-shadow: inset 25em 0em 0 0 var(--btcolor) !important;
}

.input-group .form-control::placeholder {
	color: var(--btcolor) !important;
}

.input-group .form-control:hover::placeholder,
.input-group .form-control:focus::placeholder {
	color: white !important;
}
/* 버튼, 하단 검색 끝 */


/* 게시글 페이지 */
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>span,
.pagination>.active>span:focus {
	background-color: var(--mainColor);
	border-color: var(--mainColor);
	transition: 0.2s;
}

.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>li>a:hover,
.pagination>li>span:hover {
	background-color: white;
	border-color: var(--mainColor);
	color: var(--mainColor);
	transition: 0.2s;
}

.pagination>li>a,
.pagination>li>a:focus,
.pagination>li>span
.pagination>li>span:focus {
	color: var(--mainColor);
	background: transparent;
	border-radius: 8px !important;
	transition: 0.2s;
}
/* 게시글 페이지 끝 */
